<h4>Add Post</h4>
<form #addPost="ngForm"(ngSubmit)="onSubmit()">
    <div>
         <input placeholder="Title" [(ngModel)]= "title"
                            name="title"> 
    </div>
    <div>
        <input placeholder="Body" [(ngModel)]= "body"
                        name="body"> 
    </div>
         <div>
      <input placeholder="Author" [(ngModel)]= "author"
                      name="author"> 
        </div>
        <button mat-raised-button color="primary" [disabled]>Submit</button>
    </form>
