<!--<button mat-raised-button color="accent" (click) = "onSubmit()">Push Posts to FB</button>-->
<button class= mat-raised-button color="primary" [routerLink]="['/postform']">Add New Post</button >
<div *ngIf="success">{{pushAlert}}</div>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
        {{post.title}}
        <button mat-raised-button color="primary" (click)=deletePost(post.id)>Delete Post</button>
        <button mat-raised-button color="primary" [routerLink]="'/postform/' + post.id">Edit Post</button>
        </mat-panel-title>
      </mat-expansion-panel-header>
        {{post.body}}
        by{{post.author}}
        </mat-expansion-panel>
  </mat-accordion>