<p *ngIf = "!(authors$ | async)">Loading...</p>
<mat-list role="list" *ngFor = "let author of authors$ | async">
        {{author.name}}
       <!-- <a mat-list-item href="editauthor/{{author.id}}/{{author.name}}" routerLinkActive="active">Edit </a>-->
  </mat-list>

   <form  (ngSubmit)= 'onSubmit()'>
        <input matInput [(ngModel)]= "newAuthor"
                                        name="newAuthor" 
                                       >
      <div>
      <button mat-raised-button color="primary" [disabled]>Add Author</button>
    </div>
    
    </form>